body {
  background-color: #f8f9fa;
  min-height: 100dvh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: minmax(0, 1fr);
}

.header-bg {
  background-color: #28a745;
}

.card
{
    margin-top: 15vh;
    margin-bottom: 17vh;
}

footer {
  background-color: #343a40;
}